@using System.Web.Optimization
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>QA Tool @ViewBag.Title</title>

    @Styles.Render("~/css")
    @Styles.Render("~/min.css")



</head>

<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html"><span>Metro</span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">

                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i> Dennis Ji
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Account Settings</span>
                                </li>
                                <li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
                                <li><a href="login.html"><i class="halflings-icon off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>


    <div class="container-fluid-full">
        <div class="row-fluid">
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li><a href=@Url.Action("Index","Dashboard")><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                        <li><a href=@Url.Action("Projects","Project")><i class="icon-plus"></i><span class="hidden-tablet"> Manage Projects</span></a></li>
                        <li><a href="tasks.html"><i class="icon-tasks"></i><span class="hidden-tablet"> Tasks</span></a></li>
                        <li><a href="ui.html"><i class="icon-eye-open"></i><span class="hidden-tablet"> UI Features</span></a></li>
                    </ul>
                </div>
            </div>

            <div id="content" class="span10">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Dashboard</a></li>
                </ul>
                <div class="row-fluid">
                    @RenderBody()

                    </div>

                </div>
            </div>
       </div>

    <div class="clearfix"></div>

    <footer>
        <p>
            <span style="text-align:left;float:left">&copy; 2013 <a href="http://jiji262.github.io/Bootstrap_Metro_Dashboard/" alt="Bootstrap_Metro_Dashboard">Bootstrap Metro Dashboard</a></span>

        </p>
    </footer>      


    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.0.0.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="~/Scripts/jquery.ui.touch-punch.js"></script>

    <script src="~/Scripts/modernizr.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.cookie.js"></script>

    <script src='~/Scripts/fullcalendar.min.js'></script>

    <script src='~/Scripts/jquery.dataTables.min.js'></script>
    <script src="~/Scripts/excanvas.js"></script>
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot.pie.js"></script>
    <script src="~/Scripts/jquery.flot.stack.js"></script>
    <script src="~/Scripts/jquery.flot.resize.min.js"></script>
    
    <script src="~/Scripts/jquery.chosen.min.js"></script>

    <script src="~/Scripts/jquery.uniform.min.js"></script>

    <script src="~/Scripts/jquery.cleditor.min.js"></script>

    <script src="~/Scripts/jquery.noty.js"></script>

    <script src="~/Scripts/jquery.elfinder.min.js"></script>

    <script src="~/Scripts/jquery.raty.min.js"></script>

    <script src="~/Scripts/jquery.iphone.toggle.js"></script>

    <script src="~/Scripts/jquery.uploadify-3.1.min.js"></script>

    <script src="~/Scripts/jquery.gritter.min.js"></script>

    <script src="~/Scripts/jquery.imagesloaded.js"></script>

    <script src="~/Scripts/jquery.masonry.min.js"></script>

    <script src="~/Scripts/jquery.knob.modified.js"></script>

    <script src="~/Scripts/jquery.sparkline.min.js"></script>

    <script src="~/Scripts/counter.js"></script>

    <script src="~/Scripts/retina.js"></script>

    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
       
            <script src="~/Scripts/views/TestCaseView.js"></script>
            <script src="~/Scripts/views/TestSuiteView.js"></script>
            <script src="~/Scripts/crud/TestCase.js"></script>
            <script src="~/Scripts/crud/Project.js"></script>
            <script src="~/Scripts/crud/TestPlan.js"></script>
            <script src="~/Scripts/views/DrawStatusBar.js"></script>
            <script src="~/Scripts/views/CheckListCascadeDropDown.js"></script>

    <script src="~/Scripts/validation/ProjectValidation.js"></script>

</body>

</html>
